<?xml version="1.0" encoding="UTF-8"?>

<SettingsTree browser_path="/home/patrick/.config/plugdata/Library" theme="light"
              oversampling="0" protected="1" internal_synth="0" grid_enabled="1"
              grid_type="1" grid_size="20.0" default_font="Inter" native_window="0"
              reload_last_state="0" autoconnect="1" origin="0" border="0" index="0"
              coordinate="0" activation_state="0" order="0" direction="0" global_scale="1.0"
              show_palettes="1" macos_buttons="0" hvcc_mode="0" last_filechooser_path="/home/patrick/Music">
  <Paths>
    <Path Path="/home/patrick/.config/plugdata/Library/Abstractions/else"/>
    <Path Path="/home/patrick/.config/plugdata/Library/Abstractions/cyclone"/>
    <Path Path="/home/patrick/.config/plugdata/Library/Abstractions/heavylib"/>
    <Path Path="/home/patrick/.config/plugdata/Library/Abstractions"/>
    <Path Path="/home/patrick/.config/plugdata/Library/Deken"/>
    <Path Path="/home/patrick/.config/plugdata/Library/Extra/else"/>
    <Path Path="/home/patrick/.config/plugdata/Library/Extra"/>
  </Paths>
  <KeyMap/>
  <ColourThemes>
    <Theme theme="max" toolbar_background="ff333333" toolbar_text="ffe4e4e4"
           toolbar_active="ff72aedf" toolbar_hover="ff72aedf" tabbar_background="ff333333"
           tab_text="ffe4e4e4" selected_tab_background="ff494949" selected_tab_text="ff72aedf"
           canvas_background="ffe5e5e5" canvas_text="ffeeeeee" canvas_dots="ff7f7f7f"
           default_object_background="ff333333" object_outline_colour="ff696969"
           selected_object_outline_colour="ff72aedf" gui_internal_outline_colour="ff696969"
           toolbar_outline_colour="ff393939" outline_colour="ff393939" data_colour="ff72aedf"
           connection_colour="ffb3b3b3" signal_colour="ffe1ef00" dialog_background="ff333333"
           sidebar_colour="ff3e3e3e" sidebar_text="ffe4e4e4" sidebar_background_active="ff72aedf"
           sidebar_active_text="ffe4e4e4" levelmeter_active="ff72aedf" levelmeter_inactive="ff5d5d5d"
           levelmeter_track="ff333333" levelmeter_thumb="ffe4e4e4" panel_colour="ff232323"
           panel_text="ffe4e4e4" panel_background_active="ff72aedf" panel_active_text="ffe4e4e4"
           popup_background="ff333333" popup_background_active="ff72aedf"
           popup_text="ffe4e4e4" popup_active_text="ffe4e4e4" slider_thumb="ff72aedf"
           scrollbar_thumb="ffa9a9a9" graph_resizer="ff72aedf" grid_colour="ff72aedf"
           caret_colour="ff72aedf" iolet_area_colour="ff808080" iolet_outline_colour="ff696969"
           text_object_background="ff333333" comment_text_colour="ff111111"
           searchbar_colour="ff3e3e3e" dashed_signal_connections="1" straight_connections="0"
           thin_connections="0" square_iolets="0" square_object_corners="1"/>
    <Theme theme="classic" toolbar_background="ffffffff" toolbar_text="ff000000"
           toolbar_active="ff787878" toolbar_hover="ffaaaaaa" tabbar_background="ffffffff"
           tab_text="ff000000" selected_tab_background="ffa0a0a0" selected_tab_text="ff000000"
           canvas_background="ffffffff" canvas_text="ff000000" canvas_dots="ffffffff"
           default_object_background="ffffffff" text_object_background="ffffffff"
           object_outline_colour="ff000000" selected_object_outline_colour="ff000000"
           gui_internal_outline_colour="ff000000" toolbar_outline_colour="ff000000"
           outline_colour="ff000000" iolet_area_colour="ffffffff" iolet_outline_colour="ff000000"
           data_colour="ff000000" connection_colour="ff000000" signal_colour="ff000000"
           dialog_background="ffffffff" sidebar_colour="ffffffff" sidebar_text="ff000000"
           sidebar_background_active="ff000000" sidebar_active_text="ffffffff"
           levelmeter_active="ff000000" levelmeter_inactive="ffffffff" levelmeter_track="ff000000"
           levelmeter_thumb="ff000000" panel_colour="ffffffff" panel_text="ff000000"
           panel_background_active="ff000000" panel_active_text="ffffffff"
           popup_background="ffffffff" popup_background_active="ff000000"
           popup_text="ff000000" popup_active_text="ffffffff" slider_thumb="ff000000"
           scrollbar_thumb="ffa9a9a9" graph_resizer="ff000000" grid_colour="ff000000"
           caret_colour="ff000000" comment_text_colour="ff000000" searchbar_colour="ffffffff"
           dashed_signal_connections="0" straight_connections="1" thin_connections="1"
           square_iolets="1" square_object_corners="1"/>
    <Theme theme="classic_dark" toolbar_background="ff000000" toolbar_text="ffffffff"
           toolbar_active="ff787878" toolbar_hover="ff888888" tabbar_background="ff000000"
           tab_text="ffffffff" selected_tab_background="ff808080" selected_tab_text="ffffffff"
           canvas_background="ff000000" canvas_text="ffffffff" canvas_dots="ff000000"
           default_object_background="ff000000" object_outline_colour="ffffffff"
           selected_object_outline_colour="ffffffff" gui_internal_outline_colour="ffffffff"
           toolbar_outline_colour="ffffffff" outline_colour="ffffffff" data_colour="ffffffff"
           connection_colour="ffffffff" signal_colour="ffffffff" dialog_background="ff000000"
           sidebar_colour="ff000000" sidebar_text="ffffffff" sidebar_background_active="ffffffff"
           sidebar_active_text="ff000000" levelmeter_active="ffffffff" levelmeter_inactive="ff000000"
           levelmeter_track="ffffffff" levelmeter_thumb="ffffffff" panel_colour="ff000000"
           panel_text="ffffffff" panel_background_active="ffffffff" panel_active_text="ff000000"
           popup_background="ff000000" popup_background_active="ffffffff"
           popup_text="ffffffff" popup_active_text="ff000000" slider_thumb="ffffffff"
           scrollbar_thumb="ff7f7f7f" graph_resizer="ffffffff" grid_colour="ffffffff"
           caret_colour="ffffffff" iolet_area_colour="ff000000" iolet_outline_colour="ffffffff"
           text_object_background="ff000000" comment_text_colour="ffffffff"
           searchbar_colour="ff000000" dashed_signal_connections="0" straight_connections="1"
           thin_connections="1" square_iolets="1" square_object_corners="1"/>
    <Theme theme="dark" toolbar_background="ff191919" toolbar_text="ffe1e1e1"
           toolbar_active="ff42a2c8" toolbar_hover="ff282828" tabbar_background="ff191919"
           tab_text="ffe1e1e1" selected_tab_background="ff2e2e2e" selected_tab_text="ffe1e1e1"
           canvas_background="ff232323" canvas_text="ffe1e1e1" canvas_dots="ff7f7f7f"
           default_object_background="ff191919" object_outline_colour="ff696969"
           selected_object_outline_colour="ff42a2c8" gui_internal_outline_colour="ff696969"
           toolbar_outline_colour="ff2f2f2f" outline_colour="ff393939" data_colour="ff42a2c8"
           connection_colour="ffe1e1e1" signal_colour="ffff8500" dialog_background="ff191919"
           sidebar_colour="ff191919" sidebar_text="ffe1e1e1" sidebar_background_active="ff282828"
           sidebar_active_text="ffe1e1e1" levelmeter_active="ff42a2c8" levelmeter_inactive="ff2d2d2d"
           levelmeter_track="ffe3e3e3" levelmeter_thumb="ffe3e3e3" panel_colour="ff232323"
           panel_text="ffe1e1e1" panel_background_active="ff373737" panel_active_text="ffe1e1e1"
           popup_background="ff191919" popup_background_active="ff282828"
           popup_text="ffe1e1e1" popup_active_text="ffe1e1e1" slider_thumb="ff42a2c8"
           scrollbar_thumb="ff7f7f7f" graph_resizer="ff42a2c8" grid_colour="ff42a2c8"
           caret_colour="ff42a2c8" text_object_background="ff232323" iolet_area_colour="ff232323"
           iolet_outline_colour="ff696969" comment_text_colour="ffe1e1e1"
           searchbar_colour="ff232323" dashed_signal_connections="1" straight_connections="0"
           thin_connections="0" square_iolets="0" square_object_corners="0"/>
    <Theme theme="light" toolbar_background="ffebebeb" toolbar_text="ff4d4d4d"
           toolbar_active="ff007aff" toolbar_hover="ffd9d9d9" tabbar_background="ffebebeb"
           tab_text="ff4d4d4d" selected_tab_background="ffdedede" selected_tab_text="ff4d4d4d"
           canvas_background="fffafafa" canvas_text="ff4d4d4d" canvas_dots="ff909090"
           default_object_background="ffe4e4e4" object_outline_colour="ffa8a8a8"
           selected_object_outline_colour="ff007aff" gui_internal_outline_colour="ffa8a8a8"
           toolbar_outline_colour="ffdbdbdb" outline_colour="ffc8c8c8" data_colour="ff007aff"
           connection_colour="ffb3b3b3" signal_colour="ffff8500" dialog_background="ffe4e4e4"
           sidebar_colour="ffefefef" sidebar_text="ff4d4d4d" sidebar_background_active="ffdfdfdf"
           sidebar_active_text="ff4d4d4d" levelmeter_active="ff007aff" levelmeter_inactive="fff6f6f6"
           levelmeter_track="ff4d4d4d" levelmeter_thumb="ff7a7a7a" panel_colour="fffafafa"
           panel_text="ff4d4d4d" panel_background_active="ffebebeb" panel_active_text="ff4d4d4d"
           popup_background="ffe6e6e6" popup_background_active="ffd5d5d5"
           popup_text="ff4d4d4d" popup_active_text="ff4d4d4d" slider_thumb="ff007aff"
           scrollbar_thumb="ffa9a9a9" graph_resizer="ff007aff" grid_colour="ff007aff"
           caret_colour="ff007aff" square_object_corners="0" text_object_background="fffafafa"
           iolet_area_colour="fffafafa" iolet_outline_colour="ffa8a8a8"
           comment_text_colour="ff4d4d4d" searchbar_colour="fffafafa" dashed_signal_connections="1"
           straight_connections="0" thin_connections="0" square_iolets="0"/>
    <Theme theme="warm" toolbar_background="ffd2cdc4" toolbar_text="ff5a5a5a"
           toolbar_active="ff5da0c4" toolbar_hover="ffc0bbb2" tabbar_background="ffd2cdc4"
           tab_text="ff5a5a5a" selected_tab_background="ffc0bbb2" selected_tab_text="ff5a5a5a"
           canvas_background="ffe3dfd9" canvas_text="ff5a5a5a" canvas_dots="ff909090"
           default_object_background="ffe3dfd9" object_outline_colour="ff968e82"
           selected_object_outline_colour="ff5da0c4" gui_internal_outline_colour="ff968e82"
           toolbar_outline_colour="ffbdb3a4" outline_colour="ff968e82" data_colour="ff5da0c4"
           connection_colour="ffb3b3b3" signal_colour="ffff8502" dialog_background="ffd2cdc4"
           sidebar_colour="ffdedad3" sidebar_text="ff5a5a5a" sidebar_background_active="ffefefef"
           sidebar_active_text="ff5a5a5a" levelmeter_active="ff5da0c4" levelmeter_inactive="ffd2cdc4"
           levelmeter_track="ff5a5a5a" levelmeter_thumb="ff7a7a7a" panel_colour="ffe3dfd9"
           panel_text="ff5a5a5a" panel_background_active="ffebebeb" panel_active_text="ff5a5a5a"
           popup_background="ffd2cdc4" popup_background_active="ffc0bbb2"
           popup_text="ff5a5a5a" popup_active_text="ff5a5a5a" slider_thumb="ff5da0c4"
           scrollbar_thumb="ffa9a9a9" graph_resizer="ff5da0c4" grid_colour="ff5da0c4"
           caret_colour="ff5da0c4" iolet_area_colour="ffe3dfd9" iolet_outline_colour="ff968e82"
           text_object_background="ffe3dfd9" comment_text_colour="ff5a5a5a"
           searchbar_colour="ffe3dfd9" dashed_signal_connections="1" straight_connections="0"
           thin_connections="0" square_iolets="0" square_object_corners="0"/>
    <Theme theme="fangs" toolbar_background="ff232323" toolbar_text="ffffffff"
           toolbar_active="ff5bcefa" toolbar_hover="ff383838" tabbar_background="ff232323"
           tab_text="ffffffff" selected_tab_background="ff3a3a3a" selected_tab_text="ffffffff"
           canvas_background="ff383838" canvas_text="ffffffff" canvas_dots="ffa0a0a0"
           default_object_background="ff191919" object_outline_colour="ff383838"
           selected_object_outline_colour="ffffacab" gui_internal_outline_colour="ff626262"
           toolbar_outline_colour="ff343434" outline_colour="ff383838" data_colour="ff5bcefa"
           connection_colour="ffa0a0a0" signal_colour="ffffacab" dialog_background="ff191919"
           sidebar_colour="ff232323" sidebar_text="ffffffff" sidebar_background_active="ff383838"
           sidebar_active_text="ffffffff" levelmeter_active="ff5bcefa" levelmeter_inactive="ff2d2d2d"
           levelmeter_track="fff5f5f5" levelmeter_thumb="fff5f5f5" panel_colour="ff383838"
           panel_text="ffffffff" panel_background_active="ff232323" panel_active_text="ffffffff"
           popup_background="ff232323" popup_background_active="ff383838"
           popup_text="ffffffff" popup_active_text="ffffffff" scrollbar_thumb="ff8e8e8e"
           graph_resizer="ff5bcefa" grid_colour="ff5bcefa" caret_colour="ffffacab"
           text_object_background="ff232323" iolet_area_colour="ff232323"
           iolet_outline_colour="ff696969" slider_thumb="ff8e8e8e" comment_text_colour="ffffffff"
           searchbar_colour="ff383838" dashed_signal_connections="1" straight_connections="0"
           thin_connections="1" square_iolets="1" square_object_corners="0"/>
  </ColourThemes>
  <SelectedThemes first="light" second="dark"/>
  <RecentlyOpened>
    <Path Path="/home/patrick/Music/output-test.pd" Time="1686358777464"/>
  </RecentlyOpened>
  <Libraries/>
  <Overlays alt="127" edit="17" lock="0" run="0"/>
</SettingsTree>
